<h1> Test Questions</h1>
<form url="/questions" method="post">
  <h3>What is your favorite type of meal during dinner?</h3>
  <div>
    <input type="radio" id="contactChoice1"
     name="food" value="fish">
    <label for="contactChoice1">Fish</label>

    <input type="radio" id="contactChoice2"
     name="food" value="steak">
    <label for="contactChoice2">Steak</label>

    <input type="radio" id="contactChoice3"
     name="food" value="chicken">
    <label for="contactChoice3">Chicken</label>

    <input type="radio" id="contactChoice4"
      name="food" value="veggies">
    <label for="contactChoice4">Veggies</label>
  </div>
  <h3> What is your favorite kind of taste?</h3>
  <div>
    <input type="radio" id="contact1"
     name="taste" value="bitter">
    <label for="contactChoice1">Bitter</label>

    <input type="radio" id="contact2"
     name="food" value="sweet">
    <label for="contactChoice2">Sweet</label>

    <input type="radio" id="contact3"
     name="food" value="sour">
    <label for="contactChoice3">Sour</label>

    <input type="radio" id="contact4"
      name="food" value="salty">
    <label for="contactChoice4">Salty</label>
  </div>
  <h3> What is your favorite kind of smell?</h3>
  <div>
    <input type="radio" id="Choice1"
     name="smell" value="rosemary">
    <label for="contactChoice1">Rosemary</label>

    <input type="radio" id="Choice2"
     name="smell" value="oak">
    <label for="contactChoice2">Oak</label>

    <input type="radio" id="Choice3"
     name="smell" value="lavendar">
    <label for="contactChoice3">Lavendar</label>

    <input type="radio" id="Choice4"
      name="smell" value="lemon">
    <label for="contactChoice4">Lemon</label>
  </div>
  <div>
    <button type="submit">Submit</button>
  </div>
</form>
