<h2>Sign up</h2>

<%= form_with model: @speaker, class: "form-style" do |f| %>

  <%= f.email_field :email, placeholder: "Email", class: "email" %><br>
  <%= f.password_field :password, placeholder: "Password",class: "pass" %><br>
  <%= f.submit "SignUp", class: "btn black text-white" %>

<% end %>
