<h4> What is fine wine?</h4>


<body>
  <main>
<div class="row">
  <div class="col s6"><%= image_tag("wine1.png") %>
    <div class="col s12"><%= image_tag("corks1.png") %>
  </div>
</div>


    <div>
      <p>Fine wine is where you go and answer a simple 4 questions about your favorite taste, smell, and favorite food.</p>
    <div>







  </main>
</body>
