<body>
  <main>
<div class="conatiner">
  <div class="section">
    <div class="row center">
      <div class="col s10"><%= image_tag("wine1.png") %>
    <div class="col s7"><%= image_tag("corks1.png") %>
  </div>
</div>
</div>
</div>
</div>

<h4> What is Fine Wine ?</h4>
    <div>
      <p>Fine wine is where you become a wine ethusiast. By answering a simple as 4 questions about your favorite taste, smell, and favorite food. With the given results it will pouplate a red wine and white wine that would match on your tastes.This app is to bring more people more involved with wine and tpo get themeleves out there to trying new things.</p>
    </div>

      <div clas="qbutton">
        <a class="purple btn" href="/questions">Take Quiz</a>
      </div>

  </main>
</body>
