<body>
  <main>
<div class="conatiner">
  <div class="section">
    <div class="row center">
      <div class="col s10"><%= image_tag("wine1.png") %>
    <div class="col s7"><%= image_tag("corks1.png") %>
  </div>
</div>
</div>
</div>
</div>

<h4> What is Fine Wine ?</h4>
    <div>
      <p>Fine wine is where you become a wine ethusiast. By answering as simple as 3 questions concerning your favorite taste, smell, and food, based on the answers provided Fine wine can give you results that will populate a red wine and or white wine to your liking. This app is to bring more people involved with wine and to get themseleves out of there normal drinking habbits.</p>
    </div>

      <div clas="qbutton">
        <a class="center purple btn" href="/questions">Take Quiz</a>
      </div>

      <div class="col s7 center"><%= image_tag("drinking1.png") %>

  </main>
</body>
